@font-face {
  font-family: Centra;
  src: url('./Assets/font/CentraNo2-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: Centra;
  src: url('./Assets/font/CentraNo2-Book.ttf');
  font-weight: 400;
}

@font-face {
  font-family: Centra;
  src: url('./Assets/font/CentraNo2-Medium.ttf');
  font-weight: 500;
}

/*Default css*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 300;
  overflow-x: hidden;
  position: relative;
  background-color: #121212 !important;
  color: #fff !important;
  font-family: 'Centra', sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0rem;
  padding: 0rem;
  line-height: normal;

}

p,
a,
li,
button,
ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  border: 0;
  background-color: transparent;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

@media (min-width:1700px) {
  main .container {
    max-width: 100%;
    padding: 0 150px;
  }
}

p.success {
  color: green;
}

p.danger {
  color: red;
}

/************ Navbar Css ************/
nav.navbar {
  padding: 18px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition: 0.32s ease-in-out;
}

nav.navbar.scrolled {
  padding: 0px 0;
  background-color: #121212;
}

nav.navbar a.navbar-brand {
  width: 9%;
}

nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 400;
  color: #fff !important;
  letter-spacing: 0.8px;
  padding: 0 25px;
  font-size: 18px;
  opacity: 0.75;
}

nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
  opacity: 1;
}

span.navbar-text {
  display: flex;
  align-items: center;
}

.social-icon {
  display: inline-block;
  margin-left: 14px;
}

.social-icon a {
  width: 42px;
  height: 42px;
  background: rgba(217, 217, 217, 0.1);
  display: inline-flex;
  border-radius: 50%;
  margin-right: 6px;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border: 1px solid rgba(148, 137, 137, 0.5);
}

.social-icon a::before {
  content: "";
  width: 42px;
  height: 42px;
  position: absolute;
  background-color: #ffffff;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.3s ease-in-out;
}

.social-icon a:hover::before {
  transform: scale(1);
}

.social-icon a img {
  width: 60%;
  z-index: 1;
  transition: 0.2s ease-in-out;
}



.navbar-text button {
  font-weight: 700;
  color: #fff;
  border: 1px solid #fff;
  padding: 18px 34px;
  font-size: 18px;
  margin-left: 18px;
  position: relative;
  background-color: transparent;
  transition: 0.3s ease-in-out;
}

.navbar-text button span {
  z-index: 1;
}

.navbar-text button::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: #fff;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}

.navbar-text button:hover {
  color: #121212;
}

.navbar-text button:hover::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
}

nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

nav.navbar .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 2px solid #fff;
  transition: all 300ms linear;
  top: -2px;
}

nav.navbar .navbar-toggler-icon:focus {
  border-bottom: 2px solid #fff;
}

nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
  width: 24px;
  position: absolute;
  height: 2px;
  background-color: #fff;
  top: 0;
  left: 0;
  content: '';
  z-index: 2;
  transition: all 300ms linear;
}

nav.navbar .navbar-toggler-icon:after {
  top: 8px;
}

nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform: rotate(45deg);
  background-color: #fff;
  height: 2px;
}

nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transform: translateY(8px) rotate(-45deg);
  background-color: #fff;
  height: 2px;
}

nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  border-color: transparent;
}


/************ Banner Css ************/
.banner {
  margin-top: 0;
  padding: 180px 0 100px 0;
  background-image: url('./Assets/img/banner-bg.png');
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

.banner .tagline {
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 20px;
  margin-bottom: 16px;
  display: inline-block;
}

.banner h1 {
  font-size: 65px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
}

.banner p {
  color: #B8B8B8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
}

.banner button {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  margin-top: 60px;
  letter-spacing: 0.8px;
  display: flex;
  align-items: center;
}

.banner button svg {
  font-size: 25px;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
  line-height: 1;
}

.banner button:hover svg {
  margin-left: 25px;
}

.banner img {
  max-width: 50%;
  height: 25%;
  animation: updown 3s linear infinite;
  position: absolute;
  top: 190px;
  right: 0;
}

@media screen and (max-width: 768px) {
  .banner img {
    max-width: 80%; /* Adjust the maximum width for smaller screens */
    height: auto;    /* Let the height adjust proportionally */
    top: auto;       /* Remove the top position */
    left: auto;         /* Adjust the left position or use another value as needed */
    right: 0;        /* Remove the right position */
  }
}

@keyframes updown {
  0% {
    transform: translateY(-20px);
  }

  50% {
    transform: translateY(20px);
  }

  100% {
    transform: translateY(-20px);
  }
}

.txt-rotate>.wrap {
  border-right: 0.08em solid #666;
}


/**********Profile Css**************/
.main-container {
  margin-top: 50px;
  font-family: Arial, sans-serif;
  padding: 20px;
}

.about-heading {
  font-weight: 700;
  font-family: 'Centra', sans-serif !important;
  margin-left: 2%;

}


.profile-side {
  padding: 0;

}

.profile-side .profile-card {
  border-radius: 5%;
  text-align: left;
  margin-bottom: 20px;
  background: linear-gradient(to bottom, #333333, #000000);

}

/* Profile.css */

.profile-card .img {
  border-radius: 90%;
  /* This creates a circular (rounded) image */
  width: 40%;
  /* Adjust the width and height as needed */
  height: 30%;
}


.profile-card .card-title {
  color: #ffffff;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
  font-weight: 900;
  font-family: 'Centra', sans-serif !important;

}

.profile-card .card-text {
  color: #ffffff;
  margin: 5%;
  /* Your desired color */
}

.profile-info {
  color: #cac7c7;
  font-family: 'Centra', sans-serif !important;
  font-weight: lighter !important;
  padding: 3%;
  border-radius: 10px;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  text-align: left;
  margin-left: 30%;
  top: 42%;
  position: absolute;
  overflow: hidden;
  width: 96%;
}

.profile-info .download-cv {

  margin-left: 3%;
  background-color: #2e363c;
  position: relative;
  border-color: #2e363c;

  &:hover {
    background-color: #549acd;
    /* Slightly darker background on hover */
    transition: 0.4s ease-in-out;
    color: #fff;
    /* Readable text color on hover */
    border-color: #3a454d;
    color: #000000;
  }

}

.profile-info .hire-me {

  margin-left: 30%;
  background-color: #2e363c;
  position: relative;
  border-color: #2e363c;

  &:hover {
    background-color: #549acd;
    /* Slightly darker background on hover */
    transition: 0.4s ease-in-out;
    color: #fff;
    /* Readable text color on hover */
    border-color: #3a454d;
    color: #000000;
  }
}




.profile-info .file {
  height: 20px;
  width: 20px;

}

.profile-info .hire-icon {
  height: 25px;
  width: 25px;
}

/* Add responsive behavior if needed */
@media (max-width: 768px) {
  .profile-card {
    position: relative; /* Set the position relative to allow absolute positioning inside */
    padding-bottom: 200%; /* Give enough space for the profile info to fit under the image */
  }
  
  .profile-card .img {
    width: 100%; /* Make image full width */
    height: auto; /* Maintain aspect ratio */
    border-radius: 50%; /* If you want a circular image */
  }

  .profile-info {
    position: absolute; /* Absolute position to place it at the bottom of the profile-card */
    top:50%; /* Position it right below the image */
    width: 100%; /* Full width */
    background: rgb(19, 19, 19); /* Or any color you prefer */
    padding: 20px; /* Add some padding */
    box-sizing: border-box; /* Include padding in width calculation */
    font-size: 1rem; /* Adjust font size for smaller screens */
  }
}




/************ Skills Css ************/
.skill {
  padding: 0 0 50px 0;
  position: relative;
  background-image: url('./Assets/img/color-sharp.png');
  overflow: hidden;
  background-repeat: no-repeat;
}

.skill-bx {
  background: #151515;
  border-radius: 64px;
  text-align: center;
  padding: 60px 50px;
  margin-top: -60px;
}

.skill h2 {
  font-size: 45px;
  font-weight: 700;
}

.skill p {
  color: #B8B8B8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px 0 75px 0;
}

.skill-slider {
  width: 80%;
  margin: 0 auto;
  position: relative;

}

.skill-slider .item img {
  width: 50%;
  margin: 0 auto 15px auto;
}

.background-image-left {
  top: 1%;
  position: absolute;
  bottom: 0;
  width: 50%;
  overflow-y: hidden;
  z-index: -4;
}

/* .circle-progress {
  width: 150px;
  height: 150px;
  background: conic-gradient(#654ea3 80%, #282828 0%);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  color: white;
  margin: 10px;
}
.circle-progress::before {
  content: '';
  width: 130px;
  height: 130px;
  background: black;
  border-radius: 50%;
  z-index: 1000;
  position: absolute;
}
.circle-progress span {
  z-index: 1001;
  font-size: 1.5em;
  position: relative;
} */






.App {
  text-align: center;
}

.App-logo {
  height: 10px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}